@page "/"

<h1 class="title">Flamencode Editor</h1>

<div>
    <h5>Code</h5>
    <div class="text-container code-editor-container">
        <StandaloneCodeEditor @ref=CodeEditor Id="code-editor" ConstructionOptions="EditorConstructionOptions" />
    </div>
    
</div>

<div class="buttons">
    <div>
        <label for="filePicker">
            <button style="pointer-events: none; cursor: pointer;">Load</button>
        </label>
        <InputFile id="filePicker" OnChange="@LoadFileAsync" lang="en" accept=".flam" hidden/>
        <button @onclick="SaveFileAsync">Save</button>
    </div>
    <button @onclick="ExecuteAsync">Execute</button>
</div>


<div>
    <h5>Input</h5>
    <InputText @bind-Value=Input class="input" />

    <h5>Output</h5>
    <div class="text-container output">@Result</div>
</div>



